/* header navbar */
#site-header-top .contanct:hover{
  font-size: 13px;
}
.language-in-header a{
  color: #d27e04;
}
.currency-in-header a{
  color: #d27e04;
}
.language-in-header:hover{
    color: #919191;
    font-size: 12px;
}
.currency-in-header:hover{
    color: #919191;
    font-size: 12px;
}
.language-in-header a:hover{
  color: #7b4c08;
  font-size: 14px;
}
.currency-in-header a:hover{
  color: #7b4c08;
  font-size: 14px;
}

/* Header Styles */
#site-header {
  padding-bottom: 18px;
  background: #fff;
}
#site-header-top {
  background: #333;
  font-size: 12px;
  color: #919191;
  margin-bottom: 24px;
}
#site-header-top p {
  font-size: inherit;
  color: inherit;
  line-height: 30px;
  margin: 9px 0 6px 0;
}
#site-header-top .fa {
  margin-right: 4px;
  font-size: 15px;
  vertical-align: middle;
}
#site-header-top select {
  outline: none;
}
.currency-in-header,
.language-in-header,
.header-btn {
  float: right;
}
.currency-in-header,
.language-in-header {
  margin: 14px 0 6px 20px;
}
.currency-in-header select,
.language-in-header select {
  border: none;
  outline: none;
  background-image: url("../images/header-arrow.png");
}
.header-btn {
  font: 600 12px 'Montserrat', sans-serif;
  margin-left: 20px;
  border-radius: 0;
}
#site-nav {
  text-transform: uppercase;
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-left: -20px;
}
#site-nav li {
  list-style: none;
}
#site-nav li:hover > a {
  color: #6c98e1;
}
#site-nav a {
  color: inherit;
  display: block;
}
#site-nav a:hover {
  color: #6c98e1;
}
#site-nav .nav > li {
  margin-left: 35px;
}
#site-nav .nav > li > a {
  padding: 10px 0;
}
#site-nav li {
  position: relative;
}
#site-nav li ul {
  position: absolute;
  left: 170px;
  top: -6px;
  display: none;
  min-width: 200px;
  background: #fff;
  padding: 10px 15px;
  z-index: 99;
}
#site-nav li ul li {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
#site-nav li ul li:last-child {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}
#site-nav > ul > li > ul {
  left: 0;
  top: 40px;
  padding-top: 30px;
}
.contact-in-header {
  border-left: 1px solid #dfdfdf;
  margin-left: 30px;
  padding-left: 27px;
}
.contact-in-header .fa {
  font-size: 61px;
  color: #6c98e1;
  float: left;
  margin-right: 15px;
  line-height: 51px;
}
.contact-in-header span {
  color: #999999;
}
.contact-in-header strong {
  font-size: 21px;
  color: #6c98e1;
}

/* recherche header */
.input-group .btn {
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  transition-duration: 0.3s;
  background-color: #ffd133;
  color: white;
}
.input-group .btn:hover {
  border: no.input-group ne;
  box-shadow: none;
  text-transform: uppercase;
  transition-duration: 0.3s;
  background-color: #333333;
  color: #ffd133;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
/* Styles */

    #head{
      width:100%;
      height: 150px;
      z-index: 7;
      position: fixed;
      background-color: #fff;
      top:0;
      left:0;
      transition: height 500ms;
    }

    .corps{
      margin-top: 125px;
      z-index: 0;
    }

    #head.shrink{
      margin-top: -50px;
      height: 125px;
      box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.2);
    }

    #head > .container > .row > .col-md-3 > .logo{
       text-align: right;
       padding-top: 10px;
    }


    #head.shrink > .container > .row > .col-md-3 > .logo{
      padding-top: 0px;
    }

    #head > .container > .row > .col-md-5 > .menuBtn {
      padding-top : 20px;
    }

    #head.shrink > .container > .row > .col-md-5 > .menuBtn {
      padding-top : 10px;
    }

    #head > .container > .row > .col-md-3 > .searchMenu{
      text-align : left;
      margin-top : 25px;
    }

    #head.shrink > .container > .row > .col-md-3 > .searchMenu{
      margin-top : 15px;
    }

    #head > .logo{
      width : 350px;
      height : 250px;
      float : right;
      transition: all 0.3s;
    }

    #head > .barreNoir{
      width : 100%;
      z-index: 7;
      position: fixed;
      height : 50px;
      transition: all 2ms;
    }

    #head.shrink > .barreNoir{
      display: none;
    }

    #head > .top-menu{
      margin-top : 50px;
      z-index: 7;
      width:100%;
      height : 100px;
      position: fixed;
    }

    .language-in-header{
      padding-top: 2px;
    }
    .currency-in-header{
      padding-top: 2px;
    }
    .input-group input[Type=text]{
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .input-group-btn{
      padding-left: 10px;
      color: #white;

    }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
