<?xml version="1.0"?>
<parametres>
	<config>
		<identifiant>admin@investirenaustralie.com</identifiant>
		<nom>Investir en Australie</nom>
		<titre>Investir en Australie</titre>
		<email>admin@investirenaustralie.com</email>
		<latitude>-33.885557</latitude>
		<longitude>151.140673</longitude>
	</config>
</parametres>
